<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TmobLabs_Tappz::blog_content" title="Blog" module="TmobLabs_Tappz" sortOrder="50" parent="Magento_Backend::content" resource="TmobLabs_Tappz::blog_content" />
    </menu>
</config>