<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <router id="standard">
        <route id="tappz" frontName="tappz">
            <module name="TmobLabs_Tappz"/>
        </route>
    </router>
</config>